In [1]:
import numpy as np
import pandas as pd

In [30]:
movie_reviews=pd.read_csv("C:\\Users\Windows\_ANCONDA WORKSHOP\_VAMSHI SIR\datasets\EA.csv")

In [31]:
movie_reviews.head(5)

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

## del(movie_reviews['Unnamed:'])   #not working

In [15]:
movie_reviews.shape

(18625, 11)

In [16]:
movie_reviews.dtypes

Unnamed: 0          int64
score_phrase       object
title              object
url                object
platform           object
score             float64
genre              object
editors_choice     object
release_year        int64
release_month       int64
release_day         int64
dtype: object

In [20]:
movie_reviews.describe()

         Unnamed: 0         score  release_year  release_month   release_day
count  18625.000000  18625.000000  18625.000000    18625.00000  18625.000000
mean    9312.000000      6.950459   2006.515329        7.13847     15.603866
std     5376.718717      1.711736      4.587529        3.47671      8.690128
min        0.000000      0.500000   1970.000000        1.00000      1.000000
25%     4656.000000      6.000000   2003.000000        4.00000      8.000000
50%     9312.000000      7.300000   2007.000000        8.00000     16.000000
75%    13968.000000      8.200000   2010.000000       10.00000     23.000000
max    18624.000000     10.000000   2016.000000       12.00000     31.000000

In [21]:
movie_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18625 entries, 0 to 18624
Data columns (total 11 columns):
Unnamed: 0        18625 non-null int64
score_phrase      18625 non-null object
title             18625 non-null object
url               18625 non-null object
platform          18625 non-null object
score             18625 non-null float64
genre             18589 non-null object
editors_choice    18625 non-null object
release_year      18625 non-null int64
release_month     18625 non-null int64
release_day       18625 non-null int64
dtypes: float64(1), int64(4), object(6)
memory usage: 1.6+ MB

In [32]:
movie_reviews=movie_reviews.iloc[:,1:]

In [33]:
movie_reviews.head()

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [34]:
movie_reviews.index

RangeIndex(start=0, stop=18625, step=1)

In [35]:
# displaying first 10 reviews of the dataset
first_10_reviews = movie_reviews.iloc[0:10,]
first_10_reviews.head(10)

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
5,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N,2012,9,11
6,Awful,Double Dragon: Neon,/games/double-dragon-neon/xbox-360-131320,Xbox 360,3.0,Fighting,N,2012,9,11
7,Amazing,Guild Wars 2,/games/guild-wars-2/pc-896298,PC,9.0,RPG,Y,2012,9,11
8,Awful,Double Dragon: Neon,/games/double-dragon-neon/ps3-131321,PlayStation 3,3.0,Fighting,N,2012,9,11
9,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/pc-142564,PC,7.0,Strategy,N,2012,9,11

In [39]:
movie_reviews.loc[:9, 'score']

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
5    7.0
6    3.0
7    9.0
8    3.0
9    7.0
Name: score, dtype: float64

In [41]:
# accessing multiple columns
movie_reviews.loc[:9,['title','score','release_year']]

                                               title  score  release_year
0                            LittleBigPlanet PS Vita    9.0          2012
1  LittleBigPlanet PS Vita -- Marvel Super Hero E...    9.0          2012
2                               Splice: Tree of Life    8.5          2012
3                                             NHL 13    8.5          2012
4                                             NHL 13    8.5          2012
5                          Total War Battles: Shogun    7.0          2012
6                                Double Dragon: Neon    3.0          2012
7                                       Guild Wars 2    9.0          2012
8                                Double Dragon: Neon    3.0          2012
9                          Total War Battles: Shogun    7.0          2012

In [73]:
pd.value_counts(movie_reviews.loc[:,'platform']).head()
#inference-top 5 gaming platforms in terms of number are PC,PS2,XBOX 360,Wii,PS3.

PC               3370
PlayStation 2    1686
Xbox 360         1631
Wii              1366
PlayStation 3    1356
Name: platform, dtype: int64

In [83]:
pd.value_counts(movie_reviews.loc[:,'release_year']).head(10)
#maximum reviews were given near 2006 means consoles which came in market after
#appx 2006-8 are less included in dataset and thus reviews for them cannot be
#considered more of a weight

2008    1915
2009    1687
2007    1610
2010    1363
2006    1208
2005    1088
2011    1073
2000    1045
2004     997
2003     969
Name: release_year, dtype: int64

In [65]:
pd.value_counts(movie_reviews.loc[:,'title']).head()

Madden NFL 07                              10
Cars                                       10
Open Season                                10
Ratatouille                                 9
LEGO Star Wars II: The Original Trilogy     9
Name: title, dtype: int64

In [61]:
movie_reviews['score'].mean()

6.950459060402666

In [66]:
movie_reviews.mean()

score               6.950459
release_year     2006.515329
release_month       7.138470
release_day        15.603866
dtype: float64

In [70]:
movie_reviews.corr()

                  score  release_year  release_month  release_day
score          1.000000      0.062716       0.007632     0.020079
release_year   0.062716      1.000000      -0.115515     0.016867
release_month  0.007632     -0.115515       1.000000    -0.067964
release_day    0.020079      0.016867      -0.067964     1.000000

In [71]:
movie_reviews.max()

score_phrase                       Unbearable
title                 xXx: State of the Union
url               /games/zusar-vasar/dc-13794
platform                                 iPod
score                                      10
editors_choice                              Y
release_year                             2016
release_month                              12
release_day                                31
dtype: object

In [75]:
movie_reviews.min()

score_phrase                                     Amazing
title                                             #IDARB
url               /games/0-d-beat-drop/xbox-360-14342395
platform                                         Android
score                                                0.5
editors_choice                                         N
release_year                                        1970
release_month                                          1
release_day                                            1
dtype: object

In [88]:
pd.value_counts(movie_reviews['release_month']).head()
#MOST OF THE GAMES ARE RELESEASED IN COMING OF WINTER
#DUE TO THE HEAT OF GAMING CONSOLE PRODUCE
#SO THAT THERE CAN BE MORE LIFE OF PLATFORMS
#DUE TO OCCURENCE OF MORE AND MORE WINTERS

11    2657
10    2310
9     1707
3     1573
12    1505
Name: release_month, dtype: int64

In [95]:
movie_reviews['more than 8']=movie_reviews['score']>8

In [97]:
movie_reviews[movie_reviews['more than 8']==True]=1

In [98]:
movie_reviews[movie_reviews['more than 8']==False]=0

In [99]:
pd.value_counts(movie_reviews['more than 8'])

0    13751
1     4874
Name: more than 8, dtype: int64

In [101]:
above_avg_reviews=movie_reviews[movie_reviews['score']>8]