In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [4]:
df = pd.read_csv("C:\\Users\Windows\_ANCONDA WORKSHOP\_VAMSHI SIR\datasets\homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
# fill all na values with mean value
import math
mean_bedrooms = math.floor(df.bedrooms.mean())
df.bedrooms = df.bedrooms.fillna(mean_bedrooms)
print(df)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:

mreg = linear_model.LinearRegression()
mreg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [8]:
mreg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [9]:
mreg.intercept_

221323.00186540408

In [14]:
mreg.predict([[2900,1,1]])

array([566461.2456669])